body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.quiz-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(25, 0, 255, 0.2);
    width: 400px;
}

h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.options button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;
}

.options button:hover {
    background-color: #0056b3;
}

.result {
    font-weight: bold;
    margin: 20px;
}

.next {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.next:hover {
    background-color: #0056b3;
}
